In [4]:
import pandas as pd
import numpy as np
from math import sqrt
import geopy.distance
from math import sin, cos, sqrt, atan2, radians

In [2]:
def dist(lat1, long1, lat2, long2):
    
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(long1)
    lat2 = radians(lat2)
    lon2 = radians(long2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    
    return distance

In [3]:
def find_name(df, lat, long):
    
    distances = beeps.apply(
        lambda row: find_name1(row['lat_mask'], row['lon_mask']), 
        axis=1)
    
    Row_list =[] 
  
    for i in range((distances.shape[0])): 
        cur_row =[] 

        for j in range(distances.shape[1]): 
            cur_row.append(distances.iat[i, j]) 

        Row_list.append(cur_row) 
        
    idx = []
    fin_df = df.loc[0:0]
    for lst in Row_list:
        sub = df.loc[Row_list.index(lst):Row_list.index(lst)]
        a = []
        for km in lst:
            if km <= 50:
                a.append(lst.index(km))
        for d in a:
            sub.append(sub)
        fin_df = pd.concat([fin_df, sub])
        idx.append(a)
         
    names = []
    for ids in idx:
        names.append(gulag.loc[ids, 'name'])
    
    fin_df['name'] = names
                
    return fin_df

In [ ]:
new = beeps.apply(
    lambda row: find_name(beeps, row['lat_mask'], row['lon_mask']), 
    axis=1)

In [5]:
def find_name1(lat, long):
    distances = gulag.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
        
    return distances

In [4]:
# data
gulag = pd.read_excel('/Users/eugenia/Music/gulag_23.xlsx')
beeps = pd.read_excel('/Users/eugenia/Music/beeps_07_04.xlsx')

In [121]:
beeps.loc[1:1].append(beeps.loc[1:1])

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,idstd,lat_mask,lon_mask,survey,WBCode,type,id,...,a2,h1,h2,h5,BMh2,BMh3,h9,City,name,distances
1,1,1,2,656052,50.560638,36.67218,Russia2019,RUS,1,29,...,1,2,NaN,2,2,2,NaN,Белгород,СТРОИТЕЛЬСТВО ГУШОСДОРА МВД № 2 И ИТЛ,69.318848
1,1,1,2,656052,50.560638,36.67218,Russia2019,RUS,1,29,...,1,2,NaN,2,2,2,NaN,Белгород,СТРОИТЕЛЬСТВО ГУШОСДОРА МВД № 2 И ИТЛ,69.318848

In [60]:
gulag.head(3)

,Unnamed: 0,name,lon,lat,two_years,Average prisoners,political,percentage,Combine,House,...,Uranium,Mineral,Gold,Apatite,Tin,Stone,Research,Service,Transite,fin_city
0,0,БЕЛОМОРСТРОЙ И ИТЛ,34.452484,62.912899,1,96.0,NaN,0.00,0,0,...,0,0,0,0,0,0,0,0,0,Медвежьегорск
1,1,БЕСКУДНИКОВСКОЕ СПЕЦИАЛЬНОЕ ЛО,37.567789,55.882666,0,150.0,NaN,0.00,0,0,...,0,0,0,0,0,0,1,0,0,Москва
2,2,КИМПЕРСАЙСКИЙ ИТЛ,58.268921,50.570213,0,276.0,12.0,0.04,1,0,...,0,0,0,0,0,0,0,0,0,село Бадамша

In [110]:
distances = beeps.apply(
    lambda row: find_name1(row['lat_mask'], row['lon_mask']), 
    axis=1)

In [113]:
Row_list =[] 
  
for i in range((distances.shape[0])): 
    # Create a list to store the data 
    # of the current row 
    cur_row =[] 
      
    # iterate over all the columns 
    for j in range(distances.shape[1]): 
          
        # append the data of each 
        # column to the list 
        cur_row.append(distances.iat[i, j]) 
          
    # append the current row to the list 
    Row_list.append(cur_row)

In [132]:
distances = beeps.apply(
    lambda row: find_name1(row['lat_mask'], row['lon_mask']), 
    axis=1)
    
Row_list =[] 

for i in range((distances.shape[0])): 
    cur_row =[] 

    for j in range(distances.shape[1]): 
        cur_row.append(distances.iat[i, j]) 

    Row_list.append(cur_row)

In [102]:
beeps['distances'] = distances

In [91]:
distances.loc[720].idxmin()

4

In [103]:
beeps

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,idstd,lat_mask,lon_mask,survey,WBCode,type,id,...,a2,h1,h2,h5,BMh2,BMh3,h9,City,name,distances
0,0,0,1,656051,50.618305,36.577396,Russia2019,RUS,1,22,...,1,2,NaN,2,2,2,NaN,Белгород,СТРОИТЕЛЬСТВО ГУШОСДОРА МВД № 2 И ИТЛ,72.791740
1,1,1,2,656052,50.560638,36.672180,Russia2019,RUS,1,29,...,1,2,NaN,2,2,2,NaN,Белгород,СТРОИТЕЛЬСТВО ГУШОСДОРА МВД № 2 И ИТЛ,69.318848
2,2,2,3,656053,50.546829,36.645367,Russia2019,RUS,1,34,...,1,2,NaN,2,2,2,NaN,Белгород,СТРОИТЕЛЬСТВО ГУШОСДОРА МВД № 2 И ИТЛ,67.128366
3,3,3,4,656054,50.590969,36.608212,Russia2019,RUS,1,50,...,1,2,NaN,2,2,2,NaN,Белгород,СТРОИТЕЛЬСТВО ГУШОСДОРА МВД № 2 И ИТЛ,70.654122
4,4,4,5,656055,50.621201,36.568302,Russia2019,RUS,1,56,...,1,2,NaN,2,2,2,NaN,Белгород,СТРОИТЕЛЬСТВО ГУШОСДОРА МВД № 2 И ИТЛ,72.899278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,1318,1318,1319,657369,54.745327,55.943592,Russia2019,RUS,1,699748,...,7,2,NaN,1,2,2,NaN,Уфа,ИТЛ И СТРОИТЕЛЬСТВО № 2 БАШСПЕЦНЕФТЕСТРОЯ,74.005402
1319,1319,1319,1320,657370,55.624409,37.601780,Russia2019,RUS,1,699752,...,1,2,NaN,2,2,2,NaN,Москва,ИТЛ И СТРОИТЕЛЬСТВО ОСОБОГО РАЙОНА,9.598882
1320,1320,1320,1321,657371,43.139450,131.902069,Russia2019,RUS,1,699770,...,4,2,NaN,2,2,2,NaN,Владивосток,ВЛАДИВОСТОКСКИЙ ПЕРЕСЫЛЬНЫЙ ПУНКТ ДАЛЬСТРОЯ,8.045093
1321,1321,1321,1322,657372,56.122303,94.570107,Russia2019,RUS,1,699775,...,5,2,NaN,2,1,2,NaN,Зеленогорск,ТАЕЖНОЕ ГОРНОПРОМЫШЛЕННОЕ УПР. И ИТЛ ЕНИСЕЙСТР...,30.410818
1322,1322,1322,1323,657373,56.837833,60.540592,Russia2019,RUS,1,699777,...,6,1,-9.0,1,1,1,-9.0,Екатеринбург,ИТЛ И СТРОИТЕЛЬСТВО ЗАВОДА № 8 НКВ,3.236026

In [104]:
beeps.to_excel('dist_beeps.xlsx')

In [6]:
distances = beeps.apply(
    lambda row: find_name1(row['lat_mask'], row['lon_mask']), 
    axis=1)

Row_list =[] 

for i in range((distances.shape[0])): 
    cur_row =[] 

    for j in range(distances.shape[1]): 
        cur_row.append(distances.iat[i, j]) 

    Row_list.append(cur_row) 

idx = []
fin_beeps = beeps[0:0]
for lst in Row_list:
    sub = beeps.loc[Row_list.index(lst):Row_list.index(lst)]
    a = []
    frame = sub[0:0]
    for km in lst:
        if km <= 30:
            a.append(lst.index(km))
    if len(a) > 0:
        for item in a:
            idx.append(item)
            frame = frame.append(sub)
    else:
        idx.append(np.nan)
        frame = frame.append(sub)
    fin_beeps = pd.concat([fin_beeps, frame])
names_lst = []
for ids in idx:
    try:
        names_lst.append(gulag.loc[ids, 'name'])
    except:
        names_lst.append(np.nan)
        

fin_beeps['name'] = names_lst

In [38]:
len(fin_beeps)

7414

In [37]:
len(names_lst)

7414

In [44]:
fin_beeps.to_excel('Data_FINAL.xlsx')